<html>
    <head>
        <title>Gen Report</title>
    </head>
    <body>
        <div class="container">
            <h1>Gen Report</h1>
<form name="input" action="/report" method="post">
Challenge Id: <input type="text" name="cha_id">
<input type="submit" value="Submit">
</form>
        </div>
    </body>
</html>
